body {
    margin-top: 30px;
    margin-bottom: 60px
}

h1 {
    margin: auto;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    text-align: left;
    color: #000080
}

h2 {
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    text-align: left;
    color: #000080;
    padding-bottom: 8px;
}

h3 {
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
    color: #707070;
}

h4 {
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: left;
    color: #707070;
}

h5 {
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: justify;
}

b {
    color: #707070;
    font-size: 18px;
}

img {
    margin: auto;
    border-radius: 15px;
    width: 112px;
    height: 147px;
}

hr {
    margin: 30px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

ul {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: justify;
    color: white;
}

ol {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: justify;
    color: white;
}

li {
    padding-bottom: 1px;
}

a {
    color: #000080;
}

a:hover {
    background-color: white;
}

.CvLayout {
    margin: auto;
    width: 80%;
}

.headerContainer {
    margin: auto;
    display: grid;
    grid-template-columns: [text-area]80% [image-area]20%;
}

.contentContainer {
    margin: auto;
    display: grid;
    grid-template-columns: [left-content]65% [right-content]35%;
}

.textAreaBox {
    grid-column-start: text-area;
}

.imageAreaBox {
    grid-column-start: image-area;
}

.leftContent {
    grid-column-start: left-content;
    padding: 0 8px;
}

.rightContent {
    grid-column-start: right-content;
    padding: 0 8px;
}

.finalContainer {
    margin: auto;
    padding: 30px 0;
    display: grid;
    background-color: #707070;
    grid-template-columns: [left-final-content]50% [right-final-content]
}

.leftFinalContent {
    grid-column-start: left-final-content;
    padding: 0 8px;
}

.rightFinalContent {
    grid-column-start: right-final-content;
    padding: 0 8px;
}

.ul1 {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: left;
}

.percentage {
    fill: #000080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7em;
}

.material-icons {
    position: relative;
    top: 5px;
    right: 5px;
    color: #000080;
}

.circular-chart {
    display: relative;
    margin: 10px auto;
    max-width: 100%;
    max-height: 100px;
}
  
.circle {
    stroke: #000080;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
  
@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
}






